<p>todo-list works!</p>
<mat-form-field class="input-field">
  <mat-label>Status</mat-label>
  <input matInput data-test="todoStatusFilter" type="string" placeholder="Filter by status"
    min="0" max="200" [(ngModel)]="todoStatus" >
  <mat-hint>Filtered on server</mat-hint>
</mat-form-field>
<div data-test="todoListTitle">Todos</div>
<div class="flex-row">
  @if (serverFilteredTodos()) {
    <ol>
    <div class="todo-cards-container flex-row gap-8 flex-wrap">
      @for (todo of filteredTodos(); track todo._id) {
        <li data-test="todo">{{ todo.owner }}
          <ul>
            <li>Completed? {{ todo.status }} </li>
            <li>Category: {{ todo.category }} </li>
            <li>Description: {{todo.body}} </li>
          </ul>
        </li>
      }
    </div>
    </ol>
  } @else {
    <div class="flex-1" class="todo-error">
      <mat-error>
        There was a problem loading the users. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  }
</div>
