<mat-form-field class="input-field">
  <mat-label>Status</mat-label>
  <mat-select [(ngModel)]="todoStatus" data-test="todoStatusFilter">
      <mat-option value="">All</mat-option>
      <mat-option value="complete">Complete</mat-option>
      <mat-option value="incomplete">Incomplete</mat-option>
  </mat-select>
  <mat-hint>Filtered on server</mat-hint>
</mat-form-field>
<mat-form-field class="input-field">
  <mat-label>Category</mat-label>
  <mat-select [(ngModel)]="todoCategory" data-test="todoCategoryFilter">
    <mat-option value="">All</mat-option>
      <mat-option value="video games">Video Games</mat-option>
      <mat-option value="groceries">Groceries</mat-option>
      <mat-option value="homework">Homework</mat-option>
      <mat-option value="software design">Software Design</mat-option>
  </mat-select>
  <mat-hint>Filtered on server</mat-hint>
</mat-form-field>
<mat-form-field class="input-field">
  <mat-label>Owner</mat-label>
  <input matInput data-test="todoOwnerFilter" placeholder="Filter by owner"
    [(ngModel)]="todoOwner">
  <mat-hint>Filtered on client</mat-hint>
</mat-form-field>
<mat-form-field class="input-field">
  <mat-label>Body</mat-label>
  <input matInput data-test="todoBodyFilter" placeholder="Filter body by keyword"
    [(ngModel)]="todoBody">
  <mat-hint>Filtered on client</mat-hint>
</mat-form-field>
<mat-form-field class="input-field">
  <mat-label>Limit</mat-label>
  <input matInput data-test="todoLimitFilter" type="number" placeholder="Limit the amount of todos returned"
    [(ngModel)]="todoLimit">
  <mat-hint>Filtered on server</mat-hint>
</mat-form-field>
<mat-form-field class="input-field">
  <mat-label>Order By</mat-label>
  <mat-select [(ngModel)]="todoSortBy" data-test="sortByFilter">
      <mat-option value="owner">Owner (default)</mat-option>
      <mat-option value="body">Description</mat-option>
      <mat-option value="category">Category</mat-option>
      <mat-option value="status">Status</mat-option>
  </mat-select>
  <mat-hint>Filtered on server</mat-hint>
</mat-form-field>

<div data-test="todoListTitle">Todos</div>
<div class="flex-row">
  @if (serverFilteredTodos()) {
    <ol>
    <div class="todo-cards-container flex-row gap-8 flex-wrap">
      @for (todo of filteredTodos(); track todo._id) {
        <li data-test="todo">
          <div data-test="todoOwner">{{ todo.owner }}</div>
          <ul>
            <li>Completed? <div data-test="todoStatus">{{ todo.status }}</div> </li>
            <li>Category: <div data-test="todoCategory">{{ todo.category }}</div> </li>
            <li>Description: <div data-test="todoBody">{{todo.body}}</div> </li>
          </ul>
        </li>
      }
    </div>
    </ol>
  } @else {
    <div class="flex-1" class="todo-error">
      <mat-error>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  }
</div>
<button mat-fab class="add-todo-fab" matTooltip="Add Todo" matTooltipPosition="left" routerLink="/todos/new" data-test="addTodoButton">
  <mat-icon class="md-24" aria-label="Add Todo">add</mat-icon>
</button>
